@using DataCenterLibrary.Models
@using System.Windows.Forms.DataVisualization.Charting

@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering;
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
@using DataCenterMonitoring.Web.Paging
@*@model IEnumerable<DataCenterLibrary.Models.Sensor>*@
@model PaginatedList<DataCenterLibrary.Models.Sensor>

@{
    ViewData["Title"] = "Index";
}

<h1>Messages</h1>
<div class="container">
    <div class="row">
@using (Html.BeginForm(actionName: "Reload", "SensorMessages", method: FormMethod.Post))
{
    <input type="submit" value="Refresh" class="btn btn-light col-xs-4"/>
}
@using (Html.BeginForm(actionName: "DownloadCsv", "SensorMessages", method: FormMethod.Get))
{
            <input type="submit" value="CSV download" class="btn btn-light col-xs-4" />
}
@using (Html.BeginForm(actionName: "DownloadJson", "SensorMessages", method: FormMethod.Get))
{
            <input type="submit" value="JSON download" class="btn btn-light col-xs-4" />
}
    </div>
</div>
<div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]">Id</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]">SensorType</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ValueSortParm"]">Value</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["UnitSortParm"]">Unit</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Date</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SensorType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                </tr>
            }
        </tbody>

    </table>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-light @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-light @nextDisabled">
    Next
</a>
